[submodule "alpha_vantage_fork"]
	path = alpha_vantage_fork
	url = https://github.com/leocencetti/AlphaVantage-Fork.git
[submodule "external/alphavantage"]
	path = external/alphavantage
	url = git@github.com:leocencetti/AlphaVantage-Fork.git
